<div class="container-fluid d-flex p-0">
  <%- include('../partials/sidebar') %>
  <main id="main">
    <%- include('../partials/header') %>
    <section class="main-content">
      <div class="main-top pt-4">
        <nav
          class="pb-1"
          style="
                --bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);
                );
              "
          aria-label="breadcrumb"
        >
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="#" class="text-dark"><strong>Cars</strong></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">
              List Cars
            </li>
          </ol>
        </nav>

        <div class="d-flex flex-row justify-content-between">
          <h5 class="py-3"><strong>List Car</strong></h5>
          <div class="my-auto">
            <!-- <a href="/cars/add" class="btn" role="button">Link Button</a> -->
            <a href="/cars/add" class="button-add">
              <button type="button" class="btn btn-primary">
                <i class="bx bx-plus"></i> Add New Car
              </button>
            </a>
          </div>
        </div>
      </div>
      <div class="main-bottom mt-3">
        <div
          class="btn-group"
          role="group"
          aria-label="Basic radio toggle button group"
        >
          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio1"
            autocomplete="off"
            checked
          />
          <label class="btn btn-outline-primary me-2" for="btnradio1"
            >All</label
          >

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio2"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary me-2" for="btnradio2"
            >Small</label
          >

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio3"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary me-2" for="btnradio3"
            >Medium</label
          >

          <input
            type="radio"
            class="btn-check"
            name="btnradio"
            id="btnradio4"
            autocomplete="off"
          />
          <label class="btn btn-outline-primary" for="btnradio4">Large</label>
        </div>
      </div>
    </section>
    <section class="content-result">
      <div class="d-flex flex-row flex-wrap">
        <%- include('../partials/item-card.ejs') %> <%-
        include('../partials/item-card.ejs') %> <%-
        include('../partials/item-card.ejs') %> <%-
        include('../partials/item-card.ejs') %> <%-
        include('../partials/item-card.ejs') %> <%-
        include('../partials/item-card.ejs') %> <%-
        include('../partials/item-card.ejs') %>
      </div>
    </section>
  </main>
</div>
<script src="/javascripts/sidebarToggler.js"></script>
